.DS_Store
.git.bak/
.idea/
.idea/workspace.xml
.idea/uiDesigner.xml
.gradle/
ant_build/
assets/crashlytics-build.properties
bin/
build/
classes/res-cache/
gen/
out/
tmp/
local.properties
target/
res/values/com_crashlytics_export_strings.xml
project.properties
snocru-android-native.iml
gen-external-apklibs
classes
com_crashlytics_export_strings.xml
*.iml
TAGS
app/build
/gradle.properties
/captures
